body {
    position: relative;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/static/image/back3.jpg");
    background-repeat: repeat-y;
    background-size: auto;
    /* 重要な変更点 */
    background-position: top center;
    opacity: 0.4;
    z-index: -1;
}