<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>当選者</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='back.css') }}">

</head>

<body>
    <h1>{{ prize_mapp[winners[0].prize_id] }} 受賞者</h1>

    <table>
        <thead>
            <tr>
                <th>賞品ID</th>
                <th>ID</th>
                <th>所属</th>
                <th>氏名</th>
            </tr>
        </thead>
        <tbody>
            {% for winner in winners %}
            <tr>
                <td>{{ winner.prize_id }}</td>
                <td>{{ winner.id }}</td>
                <td>{{ winner.comp }}</td>
                <td>{{ winner.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page_num > 1 %}
        <a href="{{ url_for('confirm', page_num=page_num-1) }}">前へ</a>
        {% endif %}
        {% if page_num < total_pages %} <a href="{{ url_for('confirm', page_num=page_num+1) }}">次へ</a>
            {% endif %}
    </div>


</body>

</html>