<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP3 Player with Speed Control</title>

</head>

<body>
    <h1>MP3 Player</h1>

    <!-- MP3ファイルのリスト表示 -->
    {% for file in mp3_files %}
    <div>
        <p>{{ file }}</p>
        <audio controls>
            <source src="{{ url_for('static', filename='mp3/' + file) }}" type="audio/mpeg">
            お使いのブラウザはオーディオタグをサポートしていません。
        </audio>
    </div>
    <br>
    {% endfor %}

</body>

</html>