<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>賞品</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <h1>賞品</h1>
    <table>
        <thead>
            <tr>
                <th>賞品ID</th>
                <th>賞品名</th>
                <th>当選数</th>
            </tr>
        </thead>
        <tbody>
            {% for prize in prizes %}
            <tr>
                <td>{{ prize.prize_id }}</td>
                <td>{{ prize.prize_name }}</td>
                <td>{{ prize.n }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>